Repository knative-extensions/net-kourier, pull requests merged in 2025-05, with the labels that each got.

#1347 [main] Upgrade to latest dependencies
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/resolver/delegatingresolver/delegatingresolver.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: lgtm, approved, size/L

#1325 doc: Update README and drop outdated description
  README.md
  docs/knative_e2e_tests.md
Labels: lgtm, approved, size/S, ok-to-test, kind/documentation

#1334 Support for loading ExternalAuthzConfig from ConfigMap
  cmd/kourier/main.go
  config/200-config.yaml
  pkg/config/zz_generated.deepcopy.go
  pkg/envoy/api/http_connection_manager.go
  pkg/envoy/api/http_connection_manager_test.go
  pkg/envoy/api/listener.go
  pkg/envoy/api/listener_test.go
  pkg/generator/caches.go
  pkg/generator/caches_test.go
  pkg/generator/ingress_translator.go
  pkg/generator/status_vhost.go
  pkg/reconciler/ingress/config/config.go
  pkg/reconciler/ingress/config/ext_authz.go
  pkg/reconciler/ingress/config/ext_authz_test.go
  pkg/reconciler/ingress/config/kourier.go
  pkg/reconciler/ingress/config/kourier_test.go
  pkg/reconciler/ingress/config/store.go
  pkg/reconciler/ingress/config/store_test.go
  pkg/reconciler/ingress/config/zz_generated.deepcopy.go
  pkg/reconciler/ingress/controller.go
  pkg/reconciler/ingress/controller_test.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/ingress/lister.go
  pkg/reconciler/ingress/lister_test.go
  test/e2e-kind.sh
  test/tracing/tracing_test.go
Labels: lgtm, approved, size/XL, ok-to-test
